*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;

}

/*NAV SECTION*/

nav{
	background-color: white;
top: 0;
padding: .8rem;
padding-left: 80px;
margin-bottom: 1rem;
list-style-type: none;
position: sticky;
z-index: 5;
}

nav .nav, nav .nav-logo{

	margin: .5rem;
	display: inline;

}

.right-nav {
	float: right;
	padding-right: 120px;
}


.tuitt-button{
	color: white;
	font-weight: bold;
	background: #c2195b;
	border-radius: 100px;
	width: 120px;
	height: 30px;
	font-size: .8rem;
	padding: .5rem;
	border: none;

}

.apply-button {
	color: white;
	font-weight: bold;
	background: #c2195b;
	border-radius: 100px;
	border: none;
	width: 130px;
	height: 35px;
	font-size: .8rem;
	padding: .2rem;
	margin-top: 10px;
	margin-left: auto;
	display: block;

}

#bg-image{
	min-height: 30vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;

}

.front-bg{
	min-height: 30vh;
	background-color:rgba(0, 0, 0, .8);
	
}



.container{
	color: white;
	margin-left: 61%;
	margin-right: 120px;
	padding-bottom: 20px;
}


.title{
	font-family: 'Zilla Slab';
	font-size: 30px;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 15%;

}
.subtitle{
	font-size: 15px;
	text-align: right;
	margin-left: 35%;

}


.intro-description{
	margin-left: 300px;
	margin-right: 300px;
}

.title-2{
	font-family: 'Zilla Slab';
	padding-top: 50px ;
	padding-bottom: 50px;
	text-align: center;
}

.prefooter-description{
	margin-left: 300px;
	margin-right: 300px;
}


.book-button {
	color: white;
	font-weight: bold;
	background: #336589;
	border-radius: 100px;
	width: 160px;
	height: 35px;
	font-size: 1rem;
	padding: .5rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
	margin-bottom: 150px;
	border: none;

}
.pre-footer{
	background-color: #f7fbfb;
}


footer{

	text-align: center;

}
